# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# eclipse

.metadata/

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
/server/
/logs/
/.architectury-transformer/debug.log

# Changelog
extracted.CHANGELOG.md